<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-grid>
            <ion-row>

              <ion-col size="9">
                <ion-row>
                  <ion-card-title>{{ lugar.nombre }}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle>{{ lugar.ubicacion_fisica }}</ion-card-subtitle>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-img [src]="lugar.foto"></ion-img>
        <ion-card-content>
          <p>{{lugar.descripcion }} <ion-icon name="arrow-forward"></ion-icon>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-card>

    <ion-button (click)="registrarp()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
    <ion-list>
      <ion-list-header>
        Promociones
      </ion-list-header>

      <ion-item *ngFor="let item of promociones">
        <ion-avatar slot="start">
          <img [src]=" _DomSanitizationService.bypassSecurityTrustUrl(item.foto)">
        </ion-avatar>
        <ion-label>
          <h2>{{item.nombre}}</h2>
          <h3>{{item.descripcion}}</h3>
          <h3>{{item.fecha_inicio|date:'mediumDate'}}</h3>
          <p>{{item.fecha_fin|date:'mediumDate'}}</p>
        </ion-label>

        <ion-icon (click)="presentActionSheet(item)" name="more" slot="end"></ion-icon>

      </ion-item>
    </ion-list>

  </ion-card>
</ion-content>