<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="estado !=true">
      <ion-searchbar placeholder="Filter Schedules" animated></ion-searchbar>
      <ion-list>
        <ion-item>
            <ion-thumbnail slot="start">
                <img src="../../assets/img/imgadmin.png">
              </ion-thumbnail>
              <ion-label text-wrap>
                  <ion-text >
                    <h3>Nombre:</h3>
                  </ion-text>
                  <p>Apellidos</p>
                  <ion-text >
                    <p>Atractivo(s) Turistico(s)</p>
                  </ion-text>
                </ion-label>
        </ion-item>   
      </ion-list>
  </div>
  <div>
    <ion-list>
      <ion-item>
          <ion-input [(ngModel)]="userAux.nombre" name="nombre"  placeholder="Ingrese nombre"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="userAux.apellidos" name="apellidos" placeholder="Ingrese apellido"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="userAux.email" name="email" placeholder="Ingrese email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="usuario" name="usu" placeholder="Ingrese nombre de usuario"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="contracena" name="contra" placeholder="Ingrese su password"></ion-input>
      </ion-item>   
      <ion-item>
        <ion-button slot="end" color="danger" (click)="getUserToSaveInDataBase()">
          Guardar Cambios
        </ion-button>
      </ion-item>   
    </ion-list>
    
  </div>
    
</ion-content>
