<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="estado != true">
    <br>
    <ion-button (click)="enabledToCreateUser()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>

    <div style="text-align: center;">
      <p><b>ADMINISTRADORES</b></p>
    </div>

    <ion-list *ngFor="let usuario of listUsersAdmins">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/img/imgadmin.png">
        </ion-thumbnail>
        <ion-label text-wrap>
          <ion-text>
            <h3>Nombre:{{usuario.nombre}}</h3>
          </ion-text>
          <ion-text>
            <h3>Apellidos:{{usuario.apellidos}}</h3>
          </ion-text>
          <ion-text>
            <h3>Email:{{usuario.email}}</h3>
          </ion-text>
          <ion-text>
            <h3>Tipo usuario:{{usuario.tipo_usuario | uppercase}}</h3>
          </ion-text>
          <ion-text>
            <p>Atractivo(s) Turistico(s)</p>
          </ion-text>
        </ion-label>
        <ion-label>
          <ion-button color="danger" (click)="presentAlertConfirm(usuario.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button color="warning" (click)="goToUpdateStep(usuario)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <ion-list *ngIf="estado != false">
      <ion-item>
        <ion-input [(ngModel)]="userAux.nombre" name="nombre" placeholder="Ingrese nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="userAux.apellidos" name="apellidos" placeholder="Ingrese apellido" required></ion-input>
      </ion-item>
      <ion-item *ngIf="!estadoUpdate">
        <ion-input type="email" [(ngModel)]="userAux.email" name="email" placeholder="Ingrese email"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Seleccionar tipo de usuario">
          <ion-select-option value="f">Administrador</ion-select-option>
          <ion-select-option value="m">S</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item *ngIf="!estadoUpdate">
        <ion-input type="password" [(ngModel)]="loginaux.contrasena" name="contra" placeholder="Ingrese su password">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-button slot="end" color="danger" (click)="disabledToCreateUser()">
          Cancelar
        </ion-button>
        <!-- updateUserInDataBase -->
        <ion-button *ngIf="!estadoUpdate" slot="end" color="danger" (click)="getUserToSaveInDataBase()">
          Guardar Cambios
        </ion-button>

        <ion-button *ngIf="estadoUpdate" slot="end" color="danger" (click)="updateUserInDataBase()">
          Actualizar
        </ion-button>

      </ion-item>
    </ion-list>

  </div>

</ion-content>